/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*::before ,*::after{
	box-sizing: border-box;
}
body{
    line-height:1.5;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.container{
	max-width: 1200px;
	margin:0 auto;
	padding:32px;
}
/* clearfix */
.clearfix::before,
.clearfix::before{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}

/* header */
header{
	background-color:#22396a;
	padding: 16px 0;
}
 .brand{
	float: left;
	/* width: 100px; */
}
.brand-logo{
	vertical-align:top;
}
.navbar{
	float: right;
	vertical-align: middle;
}
.navbar a{
	font-size: 24px;
	color: #ffffff;
	margin-left: 20px;
	text-decoration: none;
}
.column-1{
	width: 47%;
	display: inline-block;
	vertical-align: top;
}	
.column-2{
	width: 48%;
	display: inline-block;
	margin-left: 55px;
}
.heading{
	font-size: 46px;
	/* line-height: 1.8; */
	letter-spacing: 2px;
	margin-bottom:100px;
}
.para{
	font-size:20px;
	/* letter-spacing: 2px; */
}
.art-img{
	width: 100%;
	border: 2px solid aqua;
	border-radius: 8px;
}
.right{
	float: right;
	position:fixed;
	bottom: 20px;
	right: 100px;
	padding: 20px;
	border-radius: 50%;
	background-color: #87d;
}
.row img{
	margin:55px;
	width:300x;

}
.img-responsive{
	float: left;
    width:  250px;
    height: 250px;
}