/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*::before ,*::after{
    box-sizing: border-box;
}
*::before ,*::after{
	box-sizing: border-box;
}
body{
    line-height:1.5;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}

/* custom */

.container{
	max-width: 1200px;
	margin:0 auto;
	padding:30px 0;
}

/* clearfix */
.clearfix::before,
.clearfix::before{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
}
.header{
    background-color:#5385c1;
    height: 72px;
    line-height: 72px;
    padding: 0 30px;
    color: #ffffff;


}
.brand{
    float: left;
    text-decoration: none;

}
.brand h1{
    color:#ffffff;
    font-size:32px;
    text-align: center;
}
.nav{
    float: right;
    text-decoration: none;
}
.nav a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-left: 32px;
}
.first{
    text-align: center;
    padding: 60px 50px;
}
.para{
    color: #fff;
    font-size:20px;
}
.heading{
    font-size:56px;
    color:#fff;
    background-color:#5385c1         ;
}
/* hero-section */
.hero-section{
	background-color:#5385C1;
    padding: 30px 0;
}
/* zero */
.zero{
    width: 30%;
    margin: 1.5%;
    display:inline-block;
    padding: 20px 0;
}
.heading-zero{
    font-size: 20px;
    font-weight: 600;
    color: blue;
    margin-bottom: 15px;
    line-height: 1.5;
}
.btn-primary{
    color: #fff;
    background-color:#5386C1;
    padding:8px 12px;
    margin-top: 15px;
    border: none;
}
/* new */
.new-section{
    background-color:#5385C1;
    padding: 30px 0;
}
.text-row{
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.text-para{
    margin-top: 10px;
    font-size: 20px;
}
.text-img{
    border: 1px solid #fff;
    width: 16%;
    height:220px;
    text-align: center;
    padding-top: 30px;
    display: inline-block;
    margin: 50px;
    color: #fff;
    
}
.img-text{
    border-radius: 50%;
    width: 100px;
    height:100px;
}
.magna{
    padding-top:15px;
}
.last{
    text-align: center;
}
.color{
    color:#5385c1;
    font-size:50px;
}
.para-color{
	opacity: 0.7;
}

/* last */
.col-1-2{
    width: 46%;
    margin: 1.5%;
    display:inline-block;
    padding: 20px 0;
    
}
.magna-img{
    width: 100%;
    height: 150px;
}
.last-heading{
    color:#5385c1;
    margin: 20px 0;
    font-size: 27px;
}
hr{
    /* margin-left: 100px; */
    /* border-bottom:1px solid black; */
    text-align: center;
    width: 1200px;
}
.same{
    display: inline-block;
    color: #5386C1;
}
.footer-link{
    float: right;

}
.foote-link ul, li{
    margin-left: 20px;
}